.venv/
__pycache__/
*.pyc
.git/
.gitignore

notebooks/
src/reports/
src/models/archive/
src/features/archive/
src/eda/

data/raw/
data/interim/
data/processed/backups/
data/processed/*.csv

models/champions/

.DS_Store
Thumbs.db