# Ignorar entornos virtuales
.venv/
env/
venv/

# Ignorar la carpetas de datos
data/
src/api/templates/
src/api/static/

# Ignorar temporales de Python
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

models/**/*.joblib

# Ignorar borradores y versiones viejas del scraper
src/scraper/Torneos.py
src/scraper/scraper_torneos.py











models/**/*.joblib